.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.auth-card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: #ff6b81;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.auth-card button:hover {
  background: #ff4757;
}

.auth-card p {
  margin-top: 15px;
}

.auth-card a {
  color: #ff4757;
  text-decoration: none;
  font-weight: bold;
}

.home-link {
  display: inline-block;
  margin-bottom: 15px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.3s;
}

.home-link:hover {
  color: #ff6b81;
}
